.home{
	background-color: white;
	padding:50px;
	border-radius:4px; 
	text-align: justify;
	align-items: center;
	display: flex;
	justify-content: space-around;
}

.home-account {
    display: flex;
    padding: 0% 13%;
    justify-content: center;
    margin:3% 0;
    position: relative;
}

.accueil {
    text-decoration: none;
    color: black;
    position: absolute;
    top: 3%;
    left: 5%;
    
}