


.list-btn {
	list-style: none;
	padding-inline-start: 0px;
   	display: flex;
   	justify-content: space-around;
	

}

.list-btn li {
	display: inline;
	padding: 20px;
}

.list-btn i {
	font-size: 30px;
	color: black;
}

