.list-inline {
	align-items: flex-end;
	text-align: right;
	float: top
	list-style: none;
	padding-left: 0px;
}

.list-inline li {
	display: inline;
	padding: 20px;
	font-size: 30px;
	color: black;
	width: 30px
}
	
.list-inline li: hover {
	color: white;



